#login-box
{
	margin: auto;
	min-height: 275px;
	width: 650px;
	border-style: solid;
	border-color: #e6e6e6;
	border-width: 2px;
	border-radius: 4px;
}

#login-header
{
	background-color: #f1f1f1;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e6e6e6;
	border-bottom-width: 2px;
}

#box-contents
{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
	padding-left: 30px;
}

#left-col
{

}

#right-col
{
	padding-left: 20px;
	border-left-style: solid;
	border-left-color: #e6e6e6;
	border-left-width: 2px;
	height: 200px;
}

.inline-el
{
	display: inline-block;
	font-size: 14px;
}

#btn-wrapper
{
	padding-right: 3px;
	text-align: right;
}

#sign-in
{
	display: inline-block;
	cursor: pointer;
}

.link
{
	font-size: 14px;
}

.err-msg
{
	color: red;
	display: none;
	font-size: 14px;
	margin-bottom: 0px;
}

#login-err
{
	padding-left: 7px;
	padding-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #ae3b1d;
	border-radius: 3px;
	background-color: #FAD4CA;
	margin-bottom: 7px;
	display: none;
}

#login-err-msg
{
	font-size: 14px;
	color: #ae3b1d;
	margin-bottom: 0px;
}