/* Modal box styles for item options select*/

#m-item-options
{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: none;
}

#modal-content
{
	border: solid 10px #595959;
	position: fixed;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 485px;
	background-color: white;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}

#modal-name-text
{
	padding-bottom: 7px;
}

#modal-quantity
{
	padding-top: 0px;
	padding-bottom: 10px;
}

#modal-quantity-text
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	text-align: center;
	height: 30px;
}

#q-sel-up
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 30px;
	height: 30px;
}

#q-sel-down
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 30px;
	height: 30px;
}

.modal-btn-wrapper
{
	padding-right: 5px;
	padding-bottom: 10px;
	float: right;
}

#delete-btn-wrapper
{
	padding-right: 5px;
	padding-bottom: 10px;
	float: right;
	display: none;
}

button
{
	cursor: pointer;
}

#textarea-wrapper
{
	text-align: center;
}

textarea
{
	display: inline;
	width: 100%;
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#char-count
{
	text-align: right;
	font-size: 12px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* End of modal box styles */

/* Modal box styles */

#m-verify-dialog
{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: none;
}

#annoy-content
{
	border: solid 3px #595959;
	position: fixed;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	background-color: white;
	min-height: 235px;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 18px;
}

#verify-btn
{
	background-color: #6bb50c;
	/*background-color: #4f8509;*/
	color: white;
	border: none;
	border-radius: 3px;
	padding-right: 8px;
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 5px;
	cursor: pointer;
}

#skip-btn
{
	background-color: #BF2E08;
	color: white;
	margin-left: 15px;
	border: none;
	border-radius: 3px;
	padding-right: 8px;
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 5px;
	cursor: pointer;
}

/* End of modal box styles */

/* Modal box styles for account creation confirmation*/

#m-confirm-create
{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#modal-content
{
	border: solid 3px #595959;
	position: fixed;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 420px;
	background-color: white;
	min-height: 235px;
}

#content-wrapper
{
	padding-right: 25px;
	padding-left: 25px;
}

#close-modal
{
	padding-top: 20px;
	line-height: 0px;
	text-align: right;
	padding-right: 15px;
	cursor: pointer;
}

/* End of modal box styles */