#page-content
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#left-col
{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #b3b3b3;
	height: 500px;
	padding: 1px;
}

.my-nav-item
{
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#right-col
{
	padding-top: 20px;
	padding-right: 20px;
}

#rc-header
{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #b3b3b3;
}

#rc-content
{
	padding-top: 12px;
	padding-left: 10px;
}

.profile-label
{
	font-weight: 550;
}

.profile-val
{
	font-size: 15px;
}

.center
{
	text-align: center;
}