#tab
{
	width: 100%;
	height: 40px;
	background-color: white;
}

#takeout-btn 
{
    width: 33%;
    height: 100%;
    float: left;
    cursor: pointer;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#dine-in-btn
{
    width: 33%;
    height: 100%;
    float: left;
    cursor: pointer;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#delivery-btn
{
	width: 34%;
	height: 100%;
    float: left;
    cursor: pointer;
    border: none;
}

#address-info
{
	display: none;
}

.label
{
	padding-top: 6px;
}

.err-msg
{
	color: red;
	font-size: 14px;
	display: none;
	margin-bottom: 0px;
}

#closed-msg
{
	color: red;
	font-size: 14px;
	display: none;
	padding-top: 10px;
	margin-bottom: 0px;
}

#payment-info
{
	padding-top: 12px;
}

#special-instructions
{
	padding-top: 10px;
}

/* Checkout box styles */

#checkout-header
{
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 3px;
	background-color: #999999;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#box-body
{
	background-color: white;
	padding-top: 0px;
	padding-left: 25px;
	padding-right: 25px;
	border-style: solid;
	border-color: #999999;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.checkout-item
{
	padding-top: 15px;
	border-bottom-style: dashed;
	border-bottom-color: #dddddd;
	display: none;
	min-height: 75px;
}

.checkout-name
{
	font-weight: 550;
	font-size: 14px;
	cursor: pointer;
}

.checkout-cost
{
	font-size: 14px;
	text-align: right;
}

.checkout-size
{
	font-size: 14px;
}

.checkout-quantity
{
	font-size: 14px;
	text-align: right;
	line-height: 0px;
}

#divider
{
	height: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}

#cost-info
{
	padding-top: 15px;
	padding-bottom: 10px;
}

.cost-info-label
{
	text-align: right;
}

#subtotal-text, #tax-text, #del-charge-text, #total-text
{
	font-weight: 400;
}

#order-btn-wrapper
{
	text-align: center;
	padding-bottom: 10px;
}

#order-btn
{
	display: inline-block;
	cursor: pointer;
}

/* End of checkout box styles */

/* Custom radio button styles */

.radio 
{
    display: inline-block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 16px;
}

.radio input 
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark 
{
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.radio input:checked ~ .checkmark 
{
    background-color: #183792;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked ~ .checkmark:after 
{
    display: block;
}

.radio .checkmark:after 
{
	border-radius: 50%;
	background: #183792;
}

/* End of custom radio button styles */

/* Modal box styles */

#modal
{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: none;
}

#modal-border /* Currently removed */
{
	position: fixed;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 510px;
	background-color: rgba(0,0,0,0.3);
	display: none;
}

#modal-content
{
	border: solid 10px #595959;
	position: fixed;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 485px;
	background-color: white;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}

#modal-name-text
{
	padding-bottom: 7px;
}

#modal-quantity
{
	padding-top: 0px;
	padding-bottom: 10px;
}

#modal-quantity-text
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	text-align: center;
	height: 30px;
}

#q-sel-up
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 30px;
	height: 30px;
}

#q-sel-down
{
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 30px;
	height: 30px;
}

.modal-btn-wrapper
{
	padding-right: 5px;
	padding-bottom: 10px;
	float: right;
}

#delete-btn-wrapper
{
	padding-right: 5px;
	padding-bottom: 10px;
	float: right;
	display: none;
}

button
{
	cursor: pointer;
}

#textarea-wrapper
{
	text-align: center;
}

textarea
{
	display: inline;
	width: 100%;
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#char-count
{
	text-align: right;
	font-size: 12px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}